.header {
  align-items: center;
  border-bottom: 3px solid #ebebeb;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.header__title {
  margin: 0;
}

.header__navigation {
  border: 3px solid #ebebeb;
  display: flex;
}

.header__navigation a {
  color: unset;
  padding: 0.5rem;
  text-decoration: none;
}

.header__navigation a + a {
  border-left: 3px solid #ebebeb;
}

.header__navigation a:hover {
  background-color: #ebebeb;
  cursor: pointer;
}
