.header {
  display: flex;
  justify-content: space-between;
}

.header__main {
  background-color: #0d0d0d;
  color: white;
  padding: 1rem;
}

.header__title {
  cursor: pointer;
  margin: 0;
}

.header__socials a + a {
  margin-left: 1rem;
}
