<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="cube.ico" type="image/x-icon" />
    <link rel="stylesheet" href="index.css" />
    <script
      src="https://kit.fontawesome.com/a9a4fd3c7d.js"
      crossorigin="anonymous"
    ></script>
    <title>blog - Rafael Negron</title>
  </head>
  <body>
    <header class="header">
      <h1 class="header__heading">blog</h1>
      <!-- <nav class="header__nav">
        <section class="main__aside__social">
          <a href="http://github.com/User5842" target="_blank" rel="noreferrer"
            ><i class="fab fa-github-square fa-2x"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/rafaelnegron"
            target="_blank"
            rel="noreferrer"
            ><i class="fab fa-linkedin fa-2x"></i
          ></a>
        </section>
        <section class="main__aside__categories">
          <h4>categories</h4>
          <p>general</p>
          <p>leetcode</p>
        </section>
      </nav> -->
    </header>
    <main class="main">
      <section class="main__posts">
        <% posts.forEach(function(post) { %>
        <article class="main__post">
          <p class="main__post__date"><%= post.date %></p>
          <%- post.post %>
        </article>
        <% }); %>
      </section>
    </main>
  </body>
</html>
