.main {
  background: radial-gradient(#0d4217, #041607);
  height: 100%;
  padding: 1rem;
}

.fieldset {
  border: 5px solid #39dc65;
  border-right: none;
  height: 100%;
  min-width: 0;
  overflow: auto;
}

.fieldset::-webkit-scrollbar {
  width: 8px;
}

.fieldset::-webkit-scrollbar-thumb {
  background: #39dc65;
  border-radius: 10px;
}

.legend {
  color: #39dc65;
  font-size: 3rem;
  padding: 0 1rem;
}

.content {
  margin: 0 auto 2rem auto;
  max-width: 720px;
}
