.header {
  align-items: center;
  display: flex;
  flex: 0.2;
  flex-direction: column;
  justify-content: center;
}

.header__heading {
  background-color: black;
  color: white;
  display: inline-block;
  padding: 1rem;
  text-align: center;
  transition: width 0.2s ease-in-out;
  width: 100px;
}

.header__heading:hover {
  cursor: pointer;
  text-align: center;
  width: 200px;
}
