* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Lato", sans-serif;
  height: 100vh;
}

.header {
  background-color: black;
  display: inline-block;
  padding: 1rem;
}

.header__heading {
  color: white;
}

.main {
  display: flex;
  height: 80vh;
  margin-top: 1.5rem;
}

.main__posts {
  flex-basis: 50%;
  font-size: 1.1rem;
  margin-left: 0.5rem;
  overflow-y: scroll;
}

.main__posts::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 5px;
}

.main__posts::-webkit-scrollbar {
  background-color: #ffffff;
  width: 0.5rem;
}

.main__posts::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 5px;
}

.main__post {
  border-left: 15px solid black;
  padding-left: 1rem;
}

.main__post:last-of-type {
  margin-bottom: 1.5rem;
}

.main__post + .main__post {
  margin-top: 5rem;
}

.main__post__date {
  font-size: 0.9rem;
}

.main__post * {
  width: 50ch;
}

.main__post * + * {
  margin-top: 1rem;
}

.main__post pre {
  background: #ffeff0;
  width: 60ch;
}

.main__post code {
  display: block;
  padding: 0.5rem;
}

.main__post ul {
  padding-left: 2rem;
}

.main__aside {
  flex-basis: 10%;
  text-align: right;
}

.main__aside a {
  color: unset;
  text-decoration: none;
}

.main__aside__social {
  display: flex;
  justify-content: space-evenly;
}
