.search {
  height: 100%;
  margin-bottom: 1rem;
}

.search__input {
  font-family: "Lato", sans-serif;
  padding: 0.4rem;
}

.search__button {
  background-color: black;
  border: 2px solid black;
  color: white;
  font-family: "Lato", sans-serif;
  margin-left: 1rem;
  padding: 0.4rem;
}
