.post__date {
  color: #9eabb3;
}

.post h1 {
  font-size: 2rem;
  margin: 0;
}

.post h2 {
  font-size: 1.5rem;
}

.post pre {
  background-color: black;
  color: white;
  padding: 0.5rem;
  width: fit-content;
}

.post pre code {
  display: block;
  font-family: "Roboto Mono", monospace;
  font-size: 0.9rem;
  font-weight: 400;
  overflow: auto;
  padding: 0.5rem;
  width: 100%;
}

.post pre code::-webkit-scrollbar {
  width: 5px;
}

.post pre code::-webkit-scrollbar-thumb {
  background: white;
}

.post blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.post blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.post blockquote p {
  display: inline;
}
