.post {
  font-size: 1.1rem;
}

.post h1 {
  border: 5px solid #39dc65;
  display: inline-block;
  padding: 1rem;
}

.post a {
  color: unset;
  text-decoration: underline;
}

.post pre {
  background-color: #203420;
  border-radius: 2px;
  box-shadow: 5px 5px 11px black;
  padding: 1rem;
}

.post pre code {
  display: block;
  overflow: auto;
  padding: 0.5rem;
  width: 100%;
}

.post pre code::-webkit-scrollbar {
  width: 5px;
}

.post pre code::-webkit-scrollbar-thumb {
  background: #39dc65;
}

.post__category,
.post__category a {
  cursor: url(/cursor/cursor.png), auto;
}

.post__category a {
  color: unset;
  text-decoration: none;
}

.post__category + .post__category {
  margin-left: 1rem;
}

.post__category:hover {
  text-decoration: underline;
}

@media screen and (max-width: 820px) {
  .post {
    font-size: 1.1rem;
  }
}
