* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
}

.header {
  align-items: center;
  display: flex;
  flex: 0.2;
  flex-direction: column;
  justify-content: center;
}

.header__heading {
  background-color: black;
  color: white;
  display: inline-block;
  padding: 1rem;
  text-align: center;
  transition: width 0.2s ease-in-out;
  width: 100px;
}

.header__heading:hover {
  cursor: pointer;
  text-align: center;
  width: 200px;
}

.header__nav {
  align-items: center;
  display: flex;
}

.main {
  margin-top: 1.5rem;
}

.main__posts {
  font-size: 1.1rem;
}

.main__posts::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 5px;
}

.main__posts::-webkit-scrollbar {
  background-color: white;
  width: 0.5rem;
}

.main__posts::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
}

.main__post {
  border-left: 15px solid black;
  padding-left: 1rem;
}

.main__post:last-of-type {
  margin-bottom: 1.5rem;
}

.main__post + .main__post {
  margin-top: 5rem;
}

.main__post__category {
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.2rem;
}

.main__post__category:hover {
  background-color: black;
  color: white;
}

.main__post__date {
  font-size: 0.9rem;
}

.main__post * {
  width: 50ch;
}

.main__post * + * {
  margin-top: 1rem;
}

.main__post pre {
  background: black;
  width: 60ch;
}

.main__post pre:hover {
  background: #ffeff0;
}

.main__post code {
  display: block;
  padding: 0.5rem;
}

.main__post ul {
  padding-left: 2rem;
}
