@import url(../vendor/fonts.module.css);

* {
  box-sizing: border-box;
}

html,
body,
#__next {
  background-color: white;
  font-family: "Lato", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}
